body {

  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-color: lightyellow;*/
}

a {
  color: blue;
  cursor: pointer;
}

form{
  margin-bottom: 20px;
}

/*.h4, .h5, .h6, h4, h5, h6, .smallMarginBottom{
  margin-bottom: 3px;
}*/

.h4, .h5, .h6, h4, h5, h6, .smallMarginTop{
  margin-top: 3px;
}

#filter{
  margin-bottom: 10px;
}

.contacted{
  background-color: lightgreen;
}

.expand{
  height: 128px;
  overflow: hidden;
}

.jobTitle{
  font-weight: 800;
}

.underline{
  text-decoration: underline;
}
.noteDate{
  font-size: .75em;
  font-weight: bold;
}

.contactInfo{
  font-size: .80em;
}

.notes{
  /*background-color: lightyellow;*/
  border-radius: 20px;
  padding-top: 10px;
}

.noteDescription, .noteDate{
  margin-left: 20px;
}

.jobContainer{
  min-height: 115px;
  margin: 10px;
  border-radius: 20px;
  border: 1px solid grey;
}

.description{
  white-space: pre-wrap;
  min-height: 30px;
}

.noteDescription{
  white-space: pre-wrap;
}

.editDeleteIcons{
  text-align: center;
}

.expandIcon{
  margin-left: 10px;
}

.garbageCan{
  margin-left: 10px;
}
