<div class="container">
  <!-- ******************** Add Job Form ******************** -->
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <form name="$ctrl.addJobForm" novalidate ng-submit="$ctrl.addJob(job)" ng-show="$ctrl.show">
        <div class="form-group row">
          <label for="title" class="-2 col-form-label">Title</label>
          <div class="-6" ng-class="{
            'has-error' : $ctrl.addJobForm.title.$invalid && $ctrl.addJobForm.title.$touched}">
            <input required ng-model="$ctrl.newJob.title" type="text" name="title" class="form-control" id="title" placeholder="title">
          </div>
        </div>
        <div class="form-group row">
          <label for="data" class="-2 col-form-label">Description</label>
          <div class="-6">
            <textarea ng-model="$ctrl.newJob.description" name="description" id="data" rows="4" cols="49"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label for="company" class="-2 col-form-label">Company</label>
          <div class="-6">
            <input ng-model="$ctrl.newJob.company" class="form-control" name="company" id="company" type="text" placeholder="Company">
          </div>
        </div>
        <div class="form-group row">
          <label for="city" class="-2 col-form-label">Location City</label>
          <div class="-6">
            <input ng-model="$ctrl.newJob.city" class="form-control" name="city" id="city" type="text" placeholder="City">
          </div>
        </div>
        <div class="form-group row">
          <label for="state" class="-2 col-form-label">Location State</label>
          <div class="-6">
            <input ng-model="$ctrl.newJob.state" class="form-control" name="state" id="state" type="text" placeholder="State">
          </div>
        </div>
        <div class="form-group row">
          <label for="firstName" class="-2 col-form-label">Contact First Name</label>
          <div class="-6">
            <input ng-model="$ctrl.newJob.contactFirstName" name="firstName" type="text" class="form-control" id="firstName" placeholder="firstName">
          </div>
        </div>
        <div class="form-group row">
          <label for="lastName" class="-2 col-form-label">Contact Last Name</label>
          <div class="-6">
            <input ng-model="$ctrl.newJob.contactLastName" name="lastName" type="text" class="form-control" id="lastName" placeholder="lastName">
          </div>
        </div>
        <div class="form-group row">
          <label for="email" class="-2 col-form-label">Email</label>
          <div class="-6">
            <input ng-model="$ctrl.newJob.contactEmail" name="email" type="text" class="form-control" id="email" placeholder="email">
          </div>
        </div>
        <div class="form-group row">
          <label for="phone" class="-2 col-form-label">Phone</label>
          <div class="-6">
            <input ng-model="$ctrl.newJob.contactPhone" name="phone" type="text" class="form-control" id="phone" placeholder="phone">
          </div>
        </div>
        <div class="form-group row">
          <label for="dateApplied" class="-2 col-form-label">Date Applied</label>
          <div class="-6" ng-class="{
            'has-error' : $ctrl.addJobForm.dateApplied.$invalid && $ctrl.addJobForm.dateApplied.$touched}">
            <input required ng-model="$ctrl.newJob.dateApplied" name="dateApplied" type="date" class="form-control" id="dateApplied" placeholder="dateApplied">
          </div>
        </div>
        <div class="form-group row">
          <label for="datePhoneScreen" class="-2 col-form-label">Date Of Phone Screen</label>
          <div class="-6">
            <input ng-model="$ctrl.newJob.datePhoneScreen" name="datePhoneScreen" type="date" class="form-control" id="datePhoneScreen" placeholder="datePhoneScreen">
          </div>
        </div>
        <div class="form-group row">
          <label for="dateSubmittedTakeHome" class="-2 col-form-label">Date Of Submitted Take Home</label>
          <div class="-6">
            <input ng-model="$ctrl.newJob.dateSubmittedTakeHome" name="dateSubmittedTakeHome" type="date" class="form-control" id="dateSubmittedTakeHome" placeholder="dateSubmittedTakeHome">
          </div>
        </div>
        <div class="form-group row">
          <label for="dateInPersonInterview" class="-2 col-form-label">Date Of In Person Interview</label>
          <div class="-6">
            <input ng-model="$ctrl.newJob.dateInPersonInterview" name="dateInPersonInterview" type="date" class="form-control" id="dateInPersonInterview" placeholder="dateInPersonInterview">
          </div>
        </div>
        <div class="form-group row">
          <label for="dateFollowUp" class="-2 col-form-label">Date Of In Person Interview</label>
          <div class="-6">
            <input ng-model="$ctrl.newJob.dateFollowUp" name="dateFollowUp" type="date" class="form-control" id="dateFollowUp" placeholder="dateFollowUp">
          </div>
        </div>
        <div class="form-group row">
          <label for="jobUrl" class="-2 col-form-label">Job URL</label>
          <div class="-6">
            <input ng-model="$ctrl.newJob.jobUrl" name="jobUrl" type="text" class="form-control" id="jobUrl" placeholder="jobUrl">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-1 col-sm-offset-7">
            <input ng-disabled="$ctrl.addJobForm.$invalid" ng-click="$ctrl.toggleForm()" type="submit" name="" value="Add">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-sm-offset-0">
      <label for="filter">Filter</label>
      <input id="filter" type="search" class="form-control input-sm search-form" ng-model="filterInput" placeholder="Filter">
    </div>
    <div class="col-sm-2 col-sm-offset-2">
      <a ng-if="$ctrl.show === false" class="addJobLink" ng-click="$ctrl.toggleForm()">Add Job</a>
      <a ng-if="$ctrl.show === true" class="addjobLink" ng-click="$ctrl.toggleForm()">Close Form</a>
    </div>
  </div>

  <div ng-repeat="job in $ctrl.allJobs | orderBy:'-dateApplied' | filter:filterInput" class="row">
    <div ng-class="{'expand' : !toggle}" class="jobContainer col-sm-6 col-sm-offset-0">
      <div class="row">
        <div class="col-sm-4">
          <h6 class="smallMarginBottom">Applied On {{job.dateAppliedOn}}</h6>
        </div>
        <div class="col-sm-2 col-sm-offset-6 editDeleteIcons">
          <span>
            <a><i ng-click="$ctrl.toggleEditForm(job)" class="fa fa-pencil" aria-hidden="true"></i></a>
            <a><i ng-click="$ctrl.deleteJob(job)" class="fa fa-trash-o garbageCan" aria-hidden="true"></i></a>
            <a><i ng-click="toggle = !toggle" class="fa fa-expand expandIcon" aria-hidden="true"></i></a>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7">
          <h5 class="jobTitle">{{job.title}}</h5>
          <h6 class="jobTitle">{{job.company}}</h6>
          <h6><a ng-href="{{job.jobUrl}}" target="_blank">Job Posting</a> -  {{job.city}} {{job.state}}</h6>
        </div>
        <div class="col-sm-4 col-sm-offset-1">
          <h5 class="underline">Contact Info</h5>
          <h6 class="smallMarginBottom">{{job.contactFirstName}} {{job.contactLastName}}</h6>
          <a ng-href="mailto:{{job.contactEmail}}" class="contactInfo smallMarginBottom smallMarginTop"><h6>{{job.contactEmail}}</h6></a>
          <h6 class="contactInfo">{{job.contactPhone}}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-11 col-sm-offset-0">
          <h5>Description</h5>
          <div class="row">
            <div class="col-sm-12">
              <p class="description">{{job.description}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10">
          <h5><a ng-click="$ctrl.toggleNotes(job)" ng-if="job.notes.length > 0" >View Notes ({{job.notes.length}}) | </a> <a ng-click="$ctrl.toggleNotesForm(job)">Add Note</a></h5>
          <h5></h5>
          <div ng-show="job.showNotes" ng-repeat="note in job.notes | orderBy:'noteCreatedAt'" class="notes">
            <h6 class="noteDate">{{note.noteCreatedAt}} on {{note.noteDate}}</h6>
            <h5 class="noteDescription">{{note.note}}</h5>
          </div>
        </div>
      </div>
      <!-- ***********************  Add note Form ************************  -->
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <form ng-submit="$ctrl.addNote(job)" ng-show="job.showNotesForm">
            <div class="form-group row">
              <label for="addedNote" class="-2 -offset-1 col-form-label">Note</label>
              <div class="-10 -offset-1">
                <textarea ng-model="job.note" id="addedNote" rows="4" cols="50"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-2 col-sm-offset-1">
                <input type="submit" name="" value="Add">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-5">

      <!-- ***************** Edit Form ************************ -->

      <form ng-submit="$ctrl.editThisJob(job)" ng-show="job.editJob">
        <div class="form-group row">
          <label for="title" class="-7 col-form-label">Title</label>
          <div class="-12">
            <input ng-model="job.title" type="text" class="form-control" id="title" placeholder="title">
          </div>
        </div>
        <div class="form-group row">
          <label for="company" class="-7 col-form-label">Company</label>
          <div class="-12">
            <input ng-model="job.company" type="text" class="form-control" id="company" placeholder="company">
          </div>
        </div>
        <div class="form-group row">
          <label for="data" class="-7 col-form-label">Description</label>
          <div class="-12">
            <textarea ng-model="job.description" id="data" rows="10" cols="49"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label for="city" class="-7 col-form-label">Location City</label>
          <div class="-12">
            <input ng-model="job.city" class="form-control" name="city" id="city" type="text" placeholder="City">
          </div>
        </div>
        <div class="form-group row">
          <label for="state" class="-7 col-form-label">Location State</label>
          <div class="-12">
            <input ng-model="job.state" class="form-control" name="state" id="state" type="text" placeholder="State">
          </div>
        </div>
        <div class="form-group row">
          <label for="firstName" class="-7 col-form-label">Contact First Name</label>
          <div class="-12">
            <input ng-model="job.contactFirstName" type="text" class="form-control" id="firstName" placeholder="firstName">
          </div>
        </div>
        <div class="form-group row">
          <label for="lastName" class="-7 col-form-label">Contact Last Name</label>
          <div class="-12">
            <input ng-model="job.contactLastName" type="text" class="form-control" id="lastName" placeholder="lastName">
          </div>
        </div>
        <div class="form-group row">
          <label for="email" class="-7 col-form-label">Email</label>
          <div class="-12">
            <input ng-model="job.contactEmail" type="text" class="form-control" id="email" placeholder="email">
          </div>
        </div>
        <div class="form-group row">
          <label for="phone" class="-7 col-form-label">Phone</label>
          <div class="-12">
            <input ng-model="job.contactPhone" type="text" class="form-control" id="phone" placeholder="phone">
          </div>
        </div>
        <div class="form-group row">
          <label for="dateApplied" class="-7 col-form-label">Date Applied</label>
          <div class="-12">
            <input ng-model="job.dateApplied" type="text" class="form-control" id="dateApplied">
          </div>
        </div>
        <div class="form-group row">
          <label for="datePhoneScreen" class="-7 col-form-label">Phone Screen</label>
          <div class="-12">
            <input ng-model="job.datePhoneScreen" type="text" class="form-control" id="datePhoneScreen">
          </div>
        </div>
        <div class="form-group row">
          <label for="dateSubmittedTakeHome" class="-7 col-form-label">Submitted Take Home</label>
          <div class="-12">
            <input ng-model="job.dateSubmittedTakeHome" type="text" class="form-control" id="dateSubmittedTakeHome">
          </div>
        </div>
        <div class="form-group row">
          <label for="dateInPersonInterview" class="-7 col-form-label">In Person Interview</label>
          <div class="-12">
            <input ng-model="job.dateInPersonInterview" type="text" class="form-control" id="dateInPersonInterview">
          </div>
        </div>
        <div class="form-group row">
          <label for="dateFollowUp" class="-7 col-form-label">Follow Up</label>
          <div class="-12">
            <input ng-model="job.dateFollowUp" type="text" class="form-control" id="dateFollowUp">
          </div>
        </div>
        <div class="form-group row">
          <label for="jobUrl" class="-7 col-form-label">Job URL</label>
          <div class="-12">
            <input ng-model="job.jobUrl" type="text" class="form-control" id="jobUrl" placeholder="jobUrl">
          </div>
        </div>
        <input type="submit" name="" value="Edit">
      </form>
    </div>
  </div>


</div>
